<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <a href="#"><img src="assets/layouts/layout/img/logo.png" alt="logo" class="mansys-logo" /></a>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
  </div>

  <div class="collapse navbar-collapse js-navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="sidebar-toggler"><a href="javascript:void(0)" (click)="toggleSibebar($event)"><i class="fa fa-bars"></i></a></li>
      <li class="header-name">Contoso Exim</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="header-name">Mansys Cloud v 1.0</li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ankith B <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">My Profile</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- /.nav-collapse -->
</nav>
