/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Dec, 2015, 5:36:19 PM
    Author     : ahextech
*/

/*============================================================================
                         Common Style For the Application
=============================================================================*/
body {
    background-color: #2b3643;
}
.body{
    background-color: #465568
}
a, a:hover,  a:focus{
    text-decoration: none;
}
span.error{
    color: #e73d4a;
}
.mtb20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-left{
    text-align: left !important;
}
.text-center{
    text-align: center !important;
}
.pad0{
    padding: 0;
}
.mb5{
    margin-bottom: 5px;
}
.mt5{
    margin-top: 5px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mr15{
    margin-right: 15px;
}
.mr5{
    margin-right: 5px !important;
}
.ml5{
    margin-left: 5px;
}
hr{
    margin: 10px 0;
}
.ml5{
    margin-left: 5px;
}
.mb0{
    margin-bottom: 0 !important;
}
textarea{
    resize: none;
    min-height: 100px;
}
.login-logo{
    max-width: 160px;
}
.font-blue{
    color: #3598DC;
}
.btn-gold{
    background-color: #b87709;
    border-color: #b87709;
    color: #fff;
}
.btn-gold:hover{
    color: #fff;
}
.btn-green{
    background-color: #0F9D58;
    border-color: #0F9D58;
    color: #fff;
}
.btn-green:hover{
    color: #fff;
}
.control-label{
    display: block;
}
label{
    text-transform: capitalize;
}
.width-80{
    width: 80%;
}
.width-95{
    width: 95%;
}
.click-to-enable .form-group{
    margin-right: 30px;

}

.click-to-enable a.btn{
    position: absolute;
    right: 15px;
    top: 25px;
    padding: 6px 6px;
}
.spinner-wrapper{
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: fixed;
    z-index: 999;
}
/*============================================================================
                         Main Style For the Application
=============================================================================*/
.page-container-bg-solid .page-bar,
.page-content-white .page-bar {
    background-color: #fff;
    margin: 0;
    padding: 0;
    position: relative;
}
.page-header-fixed .page-container{
    margin-top: 23px;
}
.page-container.seller-container{
    margin-top: 0;
}
.page-content-wrapper .page-content{
    /*    padding-top: 1px;*/
}
.page-sidebar-menu{
    padding-top: 40px !important;
}
.enquiry{
    margin: 0 !important; 
    font-weight: 600; 
    font-size: 22px;
}
.required-field input, .required-field select {
    border-left: 3px solid #e73d4a;
}
.required-field textarea {
    border-left: 3px solid #e73d4a;
}
.fa-use{
    display: none !important;
}
.input-group-addon > i {
    color: #666;
}
/*.error{
    color: #e73d4a;
}*/
.top-control-secondary{
    border-bottom: 1px solid #e7ecf1;
    padding-bottom: 5px;
    padding-right: 5px;
    margin: -25px -20px 0;
}
.right-controls{
    margin-top: 4px;
    text-align: right;
}
.right-controls .btn{
    margin-bottom: 4px;
}
.right-controls.top-control-secondary{
    text-align: right;
}

.input-group.date .btn.default:not(.btn-outline) {
    background-color: #e1e5ec;
    border-color: #c2cad8;
    color: #666;
}
.tabbable-custom > .nav-tabs > li.active{
    border-top: 3px solid #3598DC;
    background-color: transparent;
}

.tabbable-custom > .nav-tabs > li{
    margin-top: -1px;
    background-color: #F0F3FA;
}
.nav-tabs > li.active{
    border-top: 3px solid #3598DC;
    background-color: transparent;
}
.nav-tabs > li{
    margin-top: -1px;
    background-color: #F0F3FA;
}
.page-sidebar .page-sidebar-menu > li.active.open > a, 
.page-sidebar .page-sidebar-menu > li.active > a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a{
    background: #3598DC;
}
.page-sidebar .page-sidebar-menu>li.active.open>a:hover,
.page-sidebar .page-sidebar-menu>li.active>a:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a:hover{
    background: #5B94DE;
}

.page-sidebar .page-sidebar-menu>li>a{
    /*border-top:1px solid yellow;*/
    color:#b4bcc8
}

.tooltip-inner {
    background-color: #27A769 !important;
    border-radius: 4px;
    color: #fff;
    max-width: 200px;
    padding: 3px 8px;
    text-align: center;
}
.tooltip-arrow {
    border-color: transparent;
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0;
    border-top-color: #27A769 !important;
    border-width: 5px 5px 0;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}

.portlet-body.form-body {
    padding: 8px 10px !important;
}
.form-group {
    margin-bottom: 5px;
    position: relative;
}
.portlet {
    margin-bottom: 10px;
}
.form-horizontal .control-label {
    padding-top: 4px;
}
.dt-buttons{
    display: none;
}
.custom-table th{
    background-color: rgba(53,152,220, .5)   !important;
    color: #333 !important;
}

table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3{
    background: transparent !important;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #cdcdcd;
    border-color: #ced1d4;
    color: #333;
    cursor: default;
    z-index: 3;
}
.company-name{
    color: rgb(198, 207, 218); 
    font-size: 13px;
    font-weight: 300;
    padding-top: 15px;
    float: left;
}
table{
    margin-top: 0 !important;
    width: 100%;
}
table.dataTable, .table-scrollable{
    margin-top: 0 !important;
}
.pagination > li > a, .pagination > li > span{
    padding: 3px 10px;
}
table.first-td-gray tr td:first-child{
    background-color: #f8fbfb;
}
.corner-pop:before {
    border-left: 20px solid transparent;
    border-top: 20px solid rgba(15,157,88, 1);
    height: 0;
    position: absolute;
    right: 0;
    content: "";
    width: 0;
    /*z-index: 99;*/
    top: 25px;
}
.corner-pop:after {
    height: 0;
    position: absolute;
    content: "\f0d8";
    font-family: 'FontAwesome';
    width: 0;
    /*z-index: 99;*/
    right: 0.5px;
    top: 21px;
    font-size: 14px;
    color: #fff;
    transform: rotate(45deg);
}
.notetextarea .corner-pop:before{
    top: 26px;
}
.image-corner-top:before{
    border-left: 20px solid transparent;
    border-top: 20px solid red;
    content: "";
    height: 0;
    position: absolute;
    right: 57px;
    top: 0;
    width: 0;
}
.image-corner-top:after {
    height: 0;
    position: absolute;
    /*content: "\f0d8";*/
    content: "";
    font-family: 'FontAwesome';
    width: 0;
    /*z-index: 99;*/
    right: 52px;
    top: 1px;
    font-size: 14px;
    color: #fff;
    transform: rotate(95deg);
}

.thumbail
{
    width:100px;
    height:100px;
}
.pdfthumbail{
    position: absolute;
    top: -6px;
    left: -20px;
    width: 140px;
    height: 110px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .corner-pop:before {
        border-left: 20px solid transparent;
        border-top: 20px solid rgba(15,157,88, 1);
        height: 0;
        position: absolute;
        right: 0;
        content: "";
        width: 0;
        top: 24px;
    }
    .corner-pop:after {
        height: 0;
        position: absolute;
        content: "\f0d8";
        font-family: 'FontAwesome';
        width: 0;
        right: 1px;
        top: 19.5px;
        font-size: 14px;
        color: #fff;
        transform: rotate(45deg);
    }
    .notetextarea .corner-pop:after{
        top: 21.5px;
    }
}
.corner-pop-top0:before {
    border-left: 20px solid transparent;
    border-top: 20px solid rgba(15,157,88, 1);
    height: 0;
    position: absolute;
    right: 0;
    content: "";
    width: 0;
    /*z-index: 99;*/
    top: 0;
}
.corner-pop-top0:after {
    height: 0;
    position: absolute;
    content: "\f0d8";
    font-family: 'FontAwesome';
    width: 0;
    /*z-index: 99;*/
    right: 0.5px;
    top: -4px;
    font-size: 14px;
    color: #fff;
    transform: rotate(45deg);
}
.corner-pop-addon:before {
    border-left: 20px solid transparent;
    border-top: 20px solid rgba(15,157,88, 1);
    height: 0;
    position: absolute;
    right: 42px;
    content: "";
    width: 0;
    z-index: 99;
    top: 0;
    z-index: 3;
}
.corner-pop-addon:after {
    height: 0;
    position: absolute;
    content: "\f0d8";
    font-family: 'FontAwesome';
    width: 0;
    right: 42px;
    top: -4px;
    font-size: 14px;
    color: #fff;
    transform: rotate(45deg);
    z-index: 3;
}
.custom-input-group input{
    max-width: 99%;
}
.custom-input-group .input-group-addon{
    border: 1px solid #ccc !important;
}
.fa.red{
    color: #e73d4a;
}
.fa.green{
    color: rgba(15,157,88, 1);
}
.fa.yellow{
    color: #f1c40f;
}
.fa.blue{
    color: #3598DC;
}
.note-editable.panel-body{
    height: 150px !important;
}
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background-color: #2b3643;
}
.table th label,.table th input{
    display: block;
}
.product-page-top{
    padding-right: 20px;
}
.product-page-top .btn{
    margin-bottom: 5px;

}

/*============================================================================
                     Common Modal Style For the Application
=============================================================================*/

.modal-dialog {
    margin: 60px auto 30px;
    /*width: 700px;*/
}
.modal-header{
    background-color: #3598DC;
}

.modal-title {
    color: #fff;
    font-weight: bold;
    line-height: 1.42857;
    margin: 0;
}

.modal .modal-header .close {
    background-color: #fff;
    background-position: 5px 5px;
    border: 3px solid #2b3643;
    border-radius: 50% !important;
    box-shadow: 0 0 5px 3px #fff;
    color: #fff;
    display: block;
    font-size: 15px;
    height: 25px;
    margin-top: 0 !important;
    opacity: 1;
    padding: 0 5px 0 0;
    position: absolute;
    right: -10px;
    text-align: center;
    text-indent: 12px;
    top: -10px;
    width: 25px;
}
.custom-modal .modal-dialog{
    width: 900px;
    margin: 60px auto;

}

.custom-modal1 .modal-dialog{
    width: 1150px;
    margin: 60px auto;

}

.custom-modal .modal-dialog .modal-dialog{
    margin: 0 auto;
}

.custom-modal1 .modal-dialog .modal-dialog{
    margin: 0 auto;
}
#upload-file-container {
    margin: 0 0 10px;
    padding: 5px;
    position: relative;
    vertical-align: middle;
    width: 150px;
    /*background: url(images/custom-file-input.png) no-repeat;*/
}

#upload-file-container input {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.upload-img-name{
    bottom: -35px;
    color: red;
    left: 15px;
    position: absolute
}
.center{
    margin: 30px 0;
    text-align: center;
}

.welcome-logo{
    display: block;
    margin: 100px auto;
    text-align: center;
}
.welcome {
    background: #465568;
}
.welcomelogo{
    max-width: 360px; 
    filter:grayscale(1);
}

/*.top-right {
    position: absolute;
    right:100px !important;
}*/
/*.testing ul.dropdown-menu{
    top: -200px !important;
    left: -110px !important;
}*/
#mansysId .tab-content #Other .dropdown-menu{
    top:auto !important;
    left: auto !important;
    right:0;
    bottom: 30px; 
    box-shadow: none;
    z-index: 99999999;
}
#mansysId .tab-content .top-right{
    right: 0;
    left: auto !important;
    bottom: 40px;
    top: auto !important;
}
/*#mansysId .tab-content .dropdown-menu{
    top:auto !important;
    left: auto !important;
    right:0;
    bottom: 30px; 
    box-shadow: none;
    z-index: 99999999;
}*/

.getHtmlCode{
    position: absolute;
    right: 74px;
    top:0;
}
.clearHtmlCode{
    position: absolute;
    right: 0;
    top:0;
}
.htmCodeText{
    position: absolute;
    top: 100px;
}

/*============================================================================
                     Media Queries For the Application
=============================================================================*/

@media(min-width: 481px) and (max-width: 800px){
    .right-controls, .page-breadcrumb{
        width: 100%;
        text-align: center;
    }
    .right-controls.top-control-secondary{
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
    }
    .right-controls{
        margin-bottom: 5px;
    }
    .control-label{
        font-size: 13px;
    }
}
@media(min-width: 481px) and (max-width: 767px){
    .control-label{
        font-size: 14px;
    }
    .right-controls .btn{
        height: 32px;
        padding: 6px;
        font-size: 12px;
    }
    .tabbable-custom .nav > li > a{
        padding: 8px 10px;
        font-size: 12px;
    }
}
@media(min-width: 300px) and (max-width: 767px){
    .click-to-enable .form-group{
        margin-right: 45px;
    }
    .click-to-enable a.btn{
        right: 15px;
    } 
}

@media(min-width: 536px) and (max-width: 790px){
    .customer-page-top .xs-46{
        min-width: 25%;
        margin-bottom: 5px;
    }
    .product-page-top .xs-46{
        min-width: 30%;
        /*margin-bottom: 5px;*/
    }
    .product-page-top .btn{
        margin-bottom: 0;
        margin-top: 5px;

    }
}
@media(min-width: 480px) and (max-width: 535px){
    .right-controls, .page-breadcrumb{
        width: 100%;
        text-align: center;
    }
    .right-controls.top-control-secondary{
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
    }
    .page-bar .xs-46{
        min-width: 49%;
        margin-bottom: 5px;
    }
    .customer-page-top .xs-46{
        min-width: 25%;
        margin-bottom: 5px;
    }
    .product-page-top .xs-46{
        min-width: 32%;
        /*margin-bottom: 5px;*/
    }
    .product-page-top .btn{
        margin-bottom: 0;
        margin-top: 5px;

    }
    .btn-icon-only.mr15{
        margin-right: 0;
        height: 31px;
    }
    .right-controls .btn{
        padding: 6px;
        font-size: 12px;
    }
    .tabbable-custom .nav > li > a{
        padding: 8px 10px;
        font-size: 12px;
    }
}
@media(min-width:300px) and (max-width: 480px){
    .right-controls, .page-breadcrumb, .right-controls.top-control-secondary{
        width: 100%;
        text-align: center;
    }
    .right-controls.top-control-secondary{
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
    }
    .page-bar .xs-46{
        width: 50%;
        min-width: 230px;
        margin-bottom: 5px;
    }
    .customer-page-top .xs-46{
        width: 25%;
        min-width: 125px;
        margin-bottom: 5px;
    }
    .product-page-top .xs-46{
        width: 40%;
        min-width: 145px;
    }
    .product-page-top .btn{
        margin-bottom: 0;
        margin-top: 5px;

    }
    .btn-icon-only{
        margin-right: 0;
        height: 31px;
    }

    .right-controls .btn{
        padding: 6px;
        font-size: 12px;
    }
    .tabbable-custom .nav > li > a{
        padding: 8px 10px;
        font-size: 12px;
    }

    .tabbable-custom > .nav-tabs > li{
        float: none;
        margin: 0 auto;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }
    .tabbable-custom > .nav-tabs > li{
        font-size: 13px;
    }
    .portlet > .portlet-title > .caption{
        font-size: 15px;
    }
}

/* ui-grid table styles*/

.grid{
    width: 100%;

    /*height: auto;*/
}
/*.grid1454594282027 .ui-grid-render-container-body .ui-grid-viewport{
    height: auto !important;
}*/
/*.ui-grid {   
    height: auto !important;

}*/
.portlet>.portlet-title>.caption{
    float: none !important;
    display: block !important;
}
.modal-body .ui-grid-render-container-body .ui-grid-viewport{
    /*height: auto !important;*/
}
.ui-grid-viewport{
    min-height: 100px !important;
    max-height: 300px !important;
    /*height: auto !important;*/
    /*max-width: 1000px !important;*/
    width: auto !important;
    /*min-width: 200px !important;*/
}
.ui-grid-cell-contents{
    cursor: pointer !important;
}
.sub-menu .nav-item.active > .nav-link{
    background-color: red !important;
}

.page-sidebar-menu > li > .sub-menu > li .sub-menu .active a {
    background: #58befc none repeat scroll 0 0 !important;
    color: #ffffff;
}
.page-sidebar-menu > li > .sub-menu > li .sub-menu .active a i{
    color: #fff;
}
.click-to-enable a.btn.retrive-data, a.btn.retrive-data{
    position: absolute;
    right:0;
    top:24px  
}
.ui-grid-pager-max-pages-number {
    display:none !important;   
}

.gridData{
    position: absolute;
    right: 15px;
    bottom:8px;
}

.arrow-sign-left {
    position: absolute;
    bottom: -2px;
    left: 115px;
}

.arrow-sign-right {
    position: absolute;
    bottom: -2px;
    left: 73px;
}
.refreshButton {
    position: fixed;
    top: -1px;
    right: -6px;
    z-index: 9999999;
    height: 30px;
}
.grid{
    height: 383px !important;
}
.grid .ui-grid-render-container-body .ui-grid-viewport{
    height: 318px !important;
    max-height: 318px !important;
}
.selectboxClass{
    width: 200px;
}

.checker{
    position:relative;
    padding:0;
    margin:0;
    width:30px;
    height:30px;
    cursor: pointer;
    bottom: 2px;
}

.checker .checkeds{
    opacity:0;
    padding:0;
    margin:0;
    width:30px;
    height:30px;
    cursor: pointer;
}

.checkers{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


/*---------------------- GC SpeadSheet Syling---------------------*/

.textareaButton{
    position: absolute;
    top: -10px;
    right: 0;
}

.btn-tools.open > .dropdown-menu {
    left: auto;
    right: 0;
}
.btn-tools.open > .dropdown-menu:before {
    left: auto;
    right: 9px;
}
.btn-tools.open > .dropdown-menu:after {
    left: auto;
    right: 10px;
}
/*---------------------- Grid Cell Classs---------------------*/
.redGridCell { 
    color: #FF0000;
}
.yellowGridCell { 
    color: #FFFF00;
}
.greenGridCell { 
    color: #008000;
}
.blueGridCell { 
    color: #0000FF;
}

.lightblueHeaderGridCell { 
    background-color: #1ec1f6 !important;
    color: #fff !important;
}

.darkblueHeaderGridCell { 
    background-color: #0c7ea3 !important;
    color: #fff !important;
}

.customerProuctIdModal {
    left:15px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Dec, 2015, 5:36:19 PM
    Author     : ahextech
*/

/*============================================================================
                         Common Style For the Application
=============================================================================*/
body {
    background-color: #2b3643;
}
a, a:hover,  a:focus{
    text-decoration: none;
}
span.error{
    color: #e73d4a;
}
.mtb20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-left{
    text-align: left !important;
}
.text-center{
    text-align: center !important;
}
.pad0{
    padding: 0;
}
.mb5{
    margin-bottom: 5px;
}
.mt5{
    margin-top: 5px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mr15{
    margin-right: 15px;
}
.mr5{
    margin-right: 5px !important;
}
.ml5{
    margin-left: 5px;
}
hr{
    margin: 10px 0;
}
.ml5{
    margin-left: 5px;
}
.mb0{
    margin-bottom: 0 !important;
}
textarea{
    resize: none;
    min-height: 100px;
}
.login-logo{
    max-width: 160px;
}
.font-blue{
    color: #3598DC;
}
.btn-gold{
    background-color: #b87709;
    border-color: #b87709;
    color: #fff;
}
.btn-gold:hover{
    color: #fff;
}
.btn-green{
    background-color: #0F9D58;
    border-color: #0F9D58;
    color: #fff;
}
.btn-green:hover{
    color: #fff;
}
.control-label{
    display: block;
}
label{
    text-transform: capitalize;
}
.width-80{
    width: 80%;
}
.width-95{
    width: 95%;
}
.click-to-enable .form-group{
    margin-right: 30px;

}

.click-to-enable a.btn{
    position: absolute;
    right: 15px;
    top: 25px;
    padding: 6px 6px;
}
.spinner-wrapper{
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: fixed;
    z-index: 999;
}
/*============================================================================
                         Main Style For the Application
=============================================================================*/
.page-container-bg-solid .page-bar,
.page-content-white .page-bar {
    background-color: #fff;
    margin: 0;
    padding: 0;
    position: relative;
}
.page-header-fixed .page-container{
    margin-top: 23px;
}
.page-container.seller-container{
    margin-top: 0;
}
.page-content-wrapper .page-content{
    /*    padding-top: 1px;*/
}
.page-sidebar-menu{
    padding-top: 40px !important;
}
.enquiry{
    margin: 0 !important; 
    font-weight: 600; 
    font-size: 22px;
}
.required-field input, .required-field select {
    border-left: 3px solid #e73d4a;
}
.required-field textarea {
    border-left: 3px solid #e73d4a;
}
.fa-use{
    display: none !important;
}
.input-group-addon > i {
    color: #666;
}
/*.error{
    color: #e73d4a;
}*/
.top-control-secondary{
    border-bottom: 1px solid #e7ecf1;
    padding-bottom: 5px;
    padding-right: 5px;
    margin: -25px -20px 0;
}
.right-controls{
    margin-top: 4px;
    text-align: right;
}
.right-controls .btn{
    margin-bottom: 4px;
}
.right-controls.top-control-secondary{
    text-align: right;
}

.input-group.date .btn.default:not(.btn-outline) {
    background-color: #e1e5ec;
    border-color: #c2cad8;
    color: #666;
}
.tabbable-custom > .nav-tabs > li.active{
    border-top: 3px solid #3598DC;
    background-color: transparent;
}

.tabbable-custom > .nav-tabs > li{
    margin-top: -1px;
    background-color: #F0F3FA;
}
.nav-tabs > li.active{
    border-top: 3px solid #3598DC;
    background-color: transparent;
}
.nav-tabs > li{
    margin-top: -1px;
    background-color: #F0F3FA;
}
.page-sidebar .page-sidebar-menu > li.active.open > a, 
.page-sidebar .page-sidebar-menu > li.active > a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a{
    background: #3598DC;
}
.page-sidebar .page-sidebar-menu>li.active.open>a:hover,
.page-sidebar .page-sidebar-menu>li.active>a:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a:hover{
    background: #5B94DE;
}

.page-sidebar .page-sidebar-menu>li>a{
    /*border-top:1px solid yellow;*/
    color:#b4bcc8
}

.tooltip-inner {
    background-color: #27A769 !important;
    border-radius: 4px;
    color: #fff;
    max-width: 200px;
    padding: 3px 8px;
    text-align: center;
}
.tooltip-arrow {
    border-color: transparent;
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0;
    border-top-color: #27A769 !important;
    border-width: 5px 5px 0;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}

.portlet-body.form-body {
    padding: 8px 10px !important;
}
.form-group {
    margin-bottom: 5px;
    position: relative;
}
.portlet {
    margin-bottom: 10px;
}
.form-horizontal .control-label {
    padding-top: 4px;
}
.dt-buttons{
    display: none;
}
.custom-table th{
    background-color: rgba(53,152,220, .5)   !important;
    color: #333 !important;
}

table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3{
    background: transparent !important;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #cdcdcd;
    border-color: #ced1d4;
    color: #333;
    cursor: default;
    z-index: 3;
}
.company-name{
    color: rgb(198, 207, 218); 
    font-size: 13px;
    font-weight: 300;
    padding-top: 15px;
    float: left;
}
table{
    margin-top: 0 !important;
    width: 100%;
}
table.dataTable, .table-scrollable{
    margin-top: 0 !important;
}
.pagination > li > a, .pagination > li > span{
    padding: 3px 10px;
}
table.first-td-gray tr td:first-child{
    background-color: #f8fbfb;
}
.corner-pop:before {
    border-left: 20px solid transparent;
    border-top: 20px solid rgba(15,157,88, 1);
    height: 0;
    position: absolute;
    right: 0;
    content: "";
    width: 0;
    /*z-index: 99;*/
    top: 25px;
}
.corner-pop:after {
    height: 0;
    position: absolute;
    content: "\f0d8";
    font-family: 'FontAwesome';
    width: 0;
    /*z-index: 99;*/
    right: 0.5px;
    top: 21px;
    font-size: 14px;
    color: #fff;
    transform: rotate(45deg);
}
.notetextarea .corner-pop:before{
    top: 26px;
}
.image-corner-top:before{
    border-left: 20px solid transparent;
    border-top: 20px solid red;
    content: "";
    height: 0;
    position: absolute;
    right: 57px;
    top: 0;
    width: 0;
}
.image-corner-top:after {
    height: 0;
    position: absolute;
    /*content: "\f0d8";*/
    content: "";
    font-family: 'FontAwesome';
    width: 0;
    /*z-index: 99;*/
    right: 52px;
    top: 1px;
    font-size: 14px;
    color: #fff;
    transform: rotate(95deg);
}

.thumbail
{
    width:100px;
    height:100px;
}
.pdfthumbail{
    position: absolute;
    top: -6px;
    left: -20px;
    width: 140px;
    height: 110px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .corner-pop:before {
        border-left: 20px solid transparent;
        border-top: 20px solid rgba(15,157,88, 1);
        height: 0;
        position: absolute;
        right: 0;
        content: "";
        width: 0;
        top: 24px;
    }
    .corner-pop:after {
        height: 0;
        position: absolute;
        content: "\f0d8";
        font-family: 'FontAwesome';
        width: 0;
        right: 1px;
        top: 19.5px;
        font-size: 14px;
        color: #fff;
        transform: rotate(45deg);
    }
    .notetextarea .corner-pop:after{
        top: 21.5px;
    }
}
.corner-pop-top0:before {
    border-left: 20px solid transparent;
    border-top: 20px solid rgba(15,157,88, 1);
    height: 0;
    position: absolute;
    right: 0;
    content: "";
    width: 0;
    /*z-index: 99;*/
    top: 0;
}
.corner-pop-top0:after {
    height: 0;
    position: absolute;
    content: "\f0d8";
    font-family: 'FontAwesome';
    width: 0;
    /*z-index: 99;*/
    right: 0.5px;
    top: -4px;
    font-size: 14px;
    color: #fff;
    transform: rotate(45deg);
}
.corner-pop-addon:before {
    border-left: 20px solid transparent;
    border-top: 20px solid rgba(15,157,88, 1);
    height: 0;
    position: absolute;
    right: 42px;
    content: "";
    width: 0;
    z-index: 99;
    top: 0;
    z-index: 3;
}
.corner-pop-addon:after {
    height: 0;
    position: absolute;
    content: "\f0d8";
    font-family: 'FontAwesome';
    width: 0;
    right: 42px;
    top: -4px;
    font-size: 14px;
    color: #fff;
    transform: rotate(45deg);
    z-index: 3;
}
.custom-input-group input{
    max-width: 99%;
}
.custom-input-group .input-group-addon{
    border: 1px solid #ccc !important;
}
.fa.red{
    color: #e73d4a;
}
.fa.green{
    color: rgba(15,157,88, 1);
}
.fa.yellow{
    color: #f1c40f;
}
.fa.blue{
    color: #3598DC;
}
.note-editable.panel-body{
    height: 150px !important;
}
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background-color: #2b3643;
}
.table th label,.table th input{
    display: block;
}
.product-page-top{
    padding-right: 20px;
}
.product-page-top .btn{
    margin-bottom: 5px;

}

/*============================================================================
                     Common Modal Style For the Application
=============================================================================*/

.modal-dialog {
    margin: 60px auto 30px;
    /*width: 700px;*/
}
.modal-header{
    background-color: #3598DC;
}

.modal-title {
    color: #fff;
    font-weight: bold;
    line-height: 1.42857;
    margin: 0;
}

.modal .modal-header .close {
    background-color: #fff;
    background-position: 5px 5px;
    border: 3px solid #2b3643;
    border-radius: 50% !important;
    box-shadow: 0 0 5px 3px #fff;
    color: #fff;
    display: block;
    font-size: 15px;
    height: 25px;
    margin-top: 0 !important;
    opacity: 1;
    padding: 0 5px 0 0;
    position: absolute;
    right: -10px;
    text-align: center;
    text-indent: 12px;
    top: -10px;
    width: 25px;
}
.custom-modal .modal-dialog{
    width: 900px;
    margin: 60px auto;

}

.custom-modal1 .modal-dialog{
    width: 1150px;
    margin: 60px auto;

}

.custom-modal .modal-dialog .modal-dialog{
    margin: 0 auto;
}

.custom-modal1 .modal-dialog .modal-dialog{
    margin: 0 auto;
}
#upload-file-container {
    margin: 0 0 10px;
    padding: 5px;
    position: relative;
    vertical-align: middle;
    width: 150px;
    /*background: url(images/custom-file-input.png) no-repeat;*/
}

#upload-file-container input {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.upload-img-name{
    bottom: -35px;
    color: red;
    left: 15px;
    position: absolute
}
.center{
    margin: 30px 0;
    text-align: center;
}

.welcome-logo{
    display: block;
    margin: 100px auto;
    text-align: center;
}
.welcome {
    background: #465568;
}
.welcomelogo{
    max-width: 360px; 
    filter:grayscale(1);
}

/*.top-right {
    position: absolute;
    right:100px !important;
}*/
/*.testing ul.dropdown-menu{
    top: -200px !important;
    left: -110px !important;
}*/
#mansysId .tab-content #Other .dropdown-menu{
    top:auto !important;
    left: auto !important;
    right:0;
    bottom: 30px; 
    box-shadow: none;
    z-index: 99999999;
}
#mansysId .tab-content .top-right{
    right: 0;
    left: auto !important;
    bottom: 40px;
    top: auto !important;
}
/*#mansysId .tab-content .dropdown-menu{
    top:auto !important;
    left: auto !important;
    right:0;
    bottom: 30px; 
    box-shadow: none;
    z-index: 99999999;
}*/

.getHtmlCode{
    position: absolute;
    right: 74px;
    top:0;
}
.clearHtmlCode{
    position: absolute;
    right: 0;
    top:0;
}
.htmCodeText{
    position: absolute;
    top: 100px;
}

/*============================================================================
                     Media Queries For the Application
=============================================================================*/

@media(min-width: 481px) and (max-width: 800px){
    .right-controls, .page-breadcrumb{
        width: 100%;
        text-align: center;
    }
    .right-controls.top-control-secondary{
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
    }
    .right-controls{
        margin-bottom: 5px;
    }
    .control-label{
        font-size: 13px;
    }
}
@media(min-width: 481px) and (max-width: 767px){
    .control-label{
        font-size: 14px;
    }
    .right-controls .btn{
        height: 32px;
        padding: 6px;
        font-size: 12px;
    }
    .tabbable-custom .nav > li > a{
        padding: 8px 10px;
        font-size: 12px;
    }
}
@media(min-width: 300px) and (max-width: 767px){
    .click-to-enable .form-group{
        margin-right: 45px;
    }
    .click-to-enable a.btn{
        right: 15px;
    } 
}

@media(min-width: 536px) and (max-width: 790px){
    .customer-page-top .xs-46{
        min-width: 25%;
        margin-bottom: 5px;
    }
    .product-page-top .xs-46{
        min-width: 30%;
        /*margin-bottom: 5px;*/
    }
    .product-page-top .btn{
        margin-bottom: 0;
        margin-top: 5px;

    }
}
@media(min-width: 480px) and (max-width: 535px){
    .right-controls, .page-breadcrumb{
        width: 100%;
        text-align: center;
    }
    .right-controls.top-control-secondary{
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
    }
    .page-bar .xs-46{
        min-width: 49%;
        margin-bottom: 5px;
    }
    .customer-page-top .xs-46{
        min-width: 25%;
        margin-bottom: 5px;
    }
    .product-page-top .xs-46{
        min-width: 32%;
        /*margin-bottom: 5px;*/
    }
    .product-page-top .btn{
        margin-bottom: 0;
        margin-top: 5px;

    }
    .btn-icon-only.mr15{
        margin-right: 0;
        height: 31px;
    }
    .right-controls .btn{
        padding: 6px;
        font-size: 12px;
    }
    .tabbable-custom .nav > li > a{
        padding: 8px 10px;
        font-size: 12px;
    }
}
@media(min-width:300px) and (max-width: 480px){
    .right-controls, .page-breadcrumb, .right-controls.top-control-secondary{
        width: 100%;
        text-align: center;
    }
    .right-controls.top-control-secondary{
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
    }
    .page-bar .xs-46{
        width: 50%;
        min-width: 230px;
        margin-bottom: 5px;
    }
    .customer-page-top .xs-46{
        width: 25%;
        min-width: 125px;
        margin-bottom: 5px;
    }
    .product-page-top .xs-46{
        width: 40%;
        min-width: 145px;
    }
    .product-page-top .btn{
        margin-bottom: 0;
        margin-top: 5px;

    }
    .btn-icon-only{
        margin-right: 0;
        height: 31px;
    }

    .right-controls .btn{
        padding: 6px;
        font-size: 12px;
    }
    .tabbable-custom .nav > li > a{
        padding: 8px 10px;
        font-size: 12px;
    }

    .tabbable-custom > .nav-tabs > li{
        float: none;
        margin: 0 auto;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }
    .tabbable-custom > .nav-tabs > li{
        font-size: 13px;
    }
    .portlet > .portlet-title > .caption{
        font-size: 15px;
    }
}

/* ui-grid table styles*/

.grid{
    width: 100%;

    /*height: auto;*/
}
/*.grid1454594282027 .ui-grid-render-container-body .ui-grid-viewport{
    height: auto !important;
}*/
/*.ui-grid {   
    height: auto !important;

}*/
.portlet>.portlet-title>.caption{
    float: none !important;
    display: block !important;
}
.modal-body .ui-grid-render-container-body .ui-grid-viewport{
    /*height: auto !important;*/
}
.ui-grid-viewport{
    min-height: 100px !important;
    max-height: 300px !important;
    /*height: auto !important;*/
    /*max-width: 1000px !important;*/
    width: auto !important;
    /*min-width: 200px !important;*/
}
.ui-grid-cell-contents{
    cursor: pointer !important;
}
.sub-menu .nav-item.active > .nav-link{
    background-color: red !important;
}

.page-sidebar-menu > li > .sub-menu > li .sub-menu .active a {
    background: #58befc none repeat scroll 0 0 !important;
    color: #ffffff;
}
.page-sidebar-menu > li > .sub-menu > li .sub-menu .active a i{
    color: #fff;
}
.click-to-enable a.btn.retrive-data, a.btn.retrive-data{
    position: absolute;
    right:0;
    top:24px  
}
.ui-grid-pager-max-pages-number {
    display:none !important;   
}

.gridData{
    position: absolute;
    right: 15px;
    bottom:8px;
}

.arrow-sign-left {
    position: absolute;
    bottom: -2px;
    left: 115px;
}

.arrow-sign-right {
    position: absolute;
    bottom: -2px;
    left: 73px;
}
.refreshButton {
    position: fixed;
    top: -1px;
    right: -6px;
    z-index: 9999999;
    height: 30px;
}
.grid{
    height: 383px !important;
}
.grid .ui-grid-render-container-body .ui-grid-viewport{
    height: 318px !important;
    max-height: 318px !important;
}
.selectboxClass{
    width: 200px;
}

.checker{
    position:relative;
    padding:0;
    margin:0;
    width:30px;
    height:30px;
    cursor: pointer;
    bottom: 2px;
}

.checker .checkeds{
    opacity:0;
    padding:0;
    margin:0;
    width:30px;
    height:30px;
    cursor: pointer;
}

.checkers{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


/*---------------------- GC SpeadSheet Syling---------------------*/

.textareaButton{
    position: absolute;
    top: -10px;
    right: 0;
}

.btn-tools.open > .dropdown-menu {
    left: auto;
    right: 0;
}
.btn-tools.open > .dropdown-menu:before {
    left: auto;
    right: 9px;
}
.btn-tools.open > .dropdown-menu:after {
    left: auto;
    right: 10px;
}
/*---------------------- Grid Cell Classs---------------------*/
.redGridCell { 
    color: #FF0000;
}
.yellowGridCell { 
    color: #FFFF00;
}
.greenGridCell { 
    color: #008000;
}
.blueGridCell { 
    color: #0000FF;
}

.lightblueHeaderGridCell { 
    background-color: #1ec1f6 !important;
    color: #fff !important;
}

.darkblueHeaderGridCell { 
    background-color: #0c7ea3 !important;
    color: #fff !important;
}

.customerProuctIdModal {
    left:15px;
}



/* Cubic Bezier Transition */
/***
Lock Page
***/
body {
    background-color: #465568 !important;
    padding: 0;
    margin: 0; }

.page-lock {
    margin: 0px auto;
    width: 450px; 
    padding:47px 0;
    }

.page-lock .page-logo {
    text-align: center;
    margin-bottom: 15px; }

.page-lock .page-body {
    width: 100%;
    margin-top: 40px;
    background-color: #3a4554;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px; }

.lock-head {
    display: block;
    background-color: #323d4b;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    -webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -ms-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0; }

.lock-body {
    display: block;
    margin: 10px 10px 30px;
    overflow: hidden; }

.lock-avatar {
    margin-top: 15px;
    height: 110px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important; }

.lock-form {
    padding-left: 10px;
    padding-right: 7px;
    width: 100%;
}

.lock-form h4 {
    margin-top: 0px;
    color: #dbe2ea;
    font-size: 18px;
    font-weight: 400; }

.lock-form .form-group {
    margin-top: 20px; }

.lock-form .form-group .help-block {
    color: #ff0000; }

.lock-form .form-group .form-control {
    background-color: #61676C;
    border: none;
    /*width: 220px;*/
    height: 40px;
    color: #fff; }

.lock-form .form-group .form-control::-moz-placeholder {
    color: #ffffff;
    opacity: 1; }

.lock-form .form-group .form-control:-ms-input-placeholder {
    color: #ffffff; }

.lock-form .form-group .form-control::-webkit-input-placeholder {
    color: #ffffff; }

.lock-form .form-group .form-control:focus {
    color: #fff; }

.lock-form .form-actions {
    margin-top: 20px; }

.lock-form .form-actions .btn {
    font-weight: 600;
    width: 48%;
    display: inline-block;
}

.lock-bottom {
    display: block;
    background-color: #323d4b;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -ms-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px; }

.lock-bottom a {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff; }

.lock-bottom a:hover {
    color: #fff; }

.page-footer-custom {
    text-align: center;
    padding-top: 20px;
    color: #ffffff; }
.selectCompany{
    margin-bottom: 107px;
}

@media (max-width: 768px) {
    .page-lock {
        margin: 100px auto; } }

@media (max-width: 560px) {
    .page-lock {
        margin: 50px auto;
        width: 400px; }
    .lock-body {
        margin: 30px; }
    .lock-avatar {
        width: 120px;
        height: 120px;
        margin-top: 20px; }
    .lock-form h4 {
        font-size: 16px; }
    .lock-form .form-group .form-control {
        padding: 20px 20px;
        width: 170px; }
    .lock-form .form-actions .btn-success {
        width: 170px;
        margin-bottom: 10px; } }

@media (max-width: 420px) {
    .page-lock {
        margin: 30px auto;
        width: 280px; }
    .lock-body {
        margin: 0px; }
    .page-lock .page-body {
        margin-top: 30px; }
    .lock-avatar {
        margin-top: 20px; }
    .lock-avatar-block {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px; }
    .lock-form {
        padding-left: 20px; }
    .lock-form h4 {
        font-size: 16px;
        text-align: center; }
    .lock-form .form-group .form-control {
        padding: 20px 20px;
        width: 240px; }
    .lock-form .form-actions .btn-success {
        width: 240px;
        margin-bottom: 20px; } }
