<div class="body">
<div class="page-lock">
  <div class="page-logo">
    <a class="brand" href="http://www.mansys.net">
            <img src="assets/layouts/layout/img/logo-white.png" class="login-logo" alt="logo" /> 
        </a>
  </div>

  <div class="page-body" *ngIf="displayCompany==false">
    <div class="lock-head"> Login </div>
    <!--<div class="alert alert-warning alert-dismissible fade in" role="alert" style="text-align: center">
            <button type="button" class="close">
                <span aria-hidden="true">&times;</span></button>
        </div>-->
    <div class="lock-body">
      <form class="lock-form pull-left" #formCtrl="ngForm" (ngSubmit)="submit(formCtrl)">
        <div class="form-group">
          <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="formCtrl.username" #userName="ngModel" autocomplete="off"
            placeholder="Enter Username" name="username" required/>
          <div *ngIf="userName.errors && (userName.dirty || userName.touched)" class="alert alert-danger">
            <div [hidden]="!userName.errors.required">
              UserName is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control placeholder-no-fix" type="password" [(ngModel)]="formCtrl.password" #password="ngModel" autocomplete="off"
            placeholder="Enter Password" name="password" required/>
          <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
            <div [hidden]="!password.errors.required">
              Password is required
            </div>
          </div>
        </div>
        <div class="form-actions clearfix">
          <div class="">
            <label class="rememberme check" style="color: #fff;">
                            <input  type="checkbox" value="1" name="remember">Remember me
                        </label>
            <div class="g-recaptcha" data-sitekey="6LeafBoTAAAAALBVT5LHMVfZ7U8gAeYykps7JxuK" data-callback="recaptchaCallback"></div>
            <div class="col-md-6 col-md-offset-9 ">
              <button type="submit" id="submitBtn" class="btn blue" [disabled]="!formCtrl.form.valid">Login</button>
            </div>
          </div>
        </div>
      </form>

    </div>
    <div class="lock-bottom">
      <a>Forgot Password?  /</a>
      <a>Sign Up</a>
    </div>
  </div>
  <div class="page-body" *ngIf="displayCompany">
    <div class="lock-head"> Select company </div>
    <div class="lock-body">
      <form class="lock-form pull-left" name="lockForm">
        <div class="form-group">
          <select class="form-control placeholder-no-fix" required>
            <option *ngFor="let company of companyData" value="company.companyKey">{{company.companyName}}</option>
          </select>
        </div>
        <div class="form-actions clearfix">
          <div class="col-md-5 col-md-offset-7 pad0">
            <button type="submit" class="btn blue " (click)="signIn()">Submit</button>
            <button type="submit" class="btn blue" (click)="goToLogin()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <div class="lock-bottom"></div>
  </div>
  <div class="page-footer-custom selectCompany"> 2017 &copy; Mansys.. </div>
</div>
</div>