
/*<=================sidebar================>*/
.page-sidebar-wrapper{
      background-color: #2C3542;
}
.page-sidebar-wrapper .page-sidebar ul{
    padding: 0;
    list-style: none;
}
.page-sidebar-wrapper .page-sidebar{
  padding: 0;
}
.page-sidebar-wrapper .page-sidebar ul li{
  padding: 7px 0 7px 20px;
}
.page-sidebar-wrapper .page-sidebar ul li a{
    color: #B4BCC8;
    text-decoration: none;
    cursor: pointer;
}
.page-sidebar-wrapper .page-sidebar ul li a i{
  font-size: 15px;
  padding-right: 7px;
}
.page-sidebar-wrapper .page-sidebar .page-sidebar-menu .nav-item .sub-menu .nav-item .nav-link i{
  font-size: 13px;
}

