<app-header></app-header>
<!--sidebar menu-->
<div class="template-wrapper">
<div class="clearfix">
  <div class="sidebar-wrapper">
    <app-sidebar></app-sidebar>
  </div>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
</div>
<!--<ng-template #subContainer1></ng-template>-->