.form-wrapper{
    border: 1px solid #3598DC;
    margin: 50px 50px 0 0;
}
.form-header{
    background-color: #3598DC;
    color: #fff;
    padding: 10px;
}
.form-header h4{
    margin: 0;
}
.form-content-header{
    padding: 7px;
    border-bottom: 1px solid #ccc;
}
.page-content .welcomelogo{
    max-width: 360px;
    filter: grayscale(1);
}
.page-content .page-logo{
    margin: 100px auto;
    max-width: 360px;
}