<!--<div class="form-wrapper">
  <div class="form-header">
    <h4>Sellers / Trading Names</h4>
  </div>
  <div class="form-content">
    <form>
    <div class="form-content-header">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <select class="form-control">
          <option></option>
          <option>Seller code</option>
          <option>Seller code</option>
          <option>Seller code</option>
          <option>Seller code</option>
        </select>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-12">
            <select class="form-control">
          <option></option>
          <option>Begins</option>
          <option>Contains</option>
        </select>
          </div>
          <div class="col-sm-3 col-xs-12">
            <input type="text" class="form-control"/>
          </div>
          <a class="btn btn-md xs-46 btn-green" title="Find">
            <i class="fa fa-binoculars" aria-hidden="true"></i>
        </a>
        </div>
    </div>
    <div class="form-content-body">
    </div>
    </form>
  </div>
</div>-->
<!--<div #builder class="seller" [innerHtml]="htmlText"></div>-->
  <div class="page-content">
    <div class="page-logo">
    <a class="brand" href="http://www.mansys.net">
    <img src="assets/layouts/layout/img/logo-white.png" class="welcomelogo" alt="logo">
    </a>
    </div>
  </div>